body {
    background-color: rgb(14, 14, 14);
    color: white;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: #1ed760;
    font-size: 4.3em;
    font-weight: 900;
    margin: 20px 0 0 0;
}

.message {
    margin-bottom: 40px;
    font-size: 1.3em;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(10px, 80%, 500px);
}

form > input {
    width: 90%;
    padding: 20px;
    margin: 10px;
    border: 2px solid white;
    text-transform:uppercase;
    font-size: 20px;
}

form > button {
    width: 100%;
    padding: 20px;
    font-size: 40px;
    font-weight: 900;
    background-color: #1ed760;
    color: black;
    margin-top: 30px;
    border: none;
    border-radius: 7px;
}

form > button:hover {
    background-color: white;
    cursor: pointer;
}

/* RECS RESULTS: ARTIST DISPLAY */

.artist_display {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18%, 1fr));
    gap: 20px;
    margin: 70px 0;

}

.artist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.artist img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 5px solid rgb(14, 14, 14);
}

.artist img:hover {
    border: 5px solid #1ed760;
}

/* RECS INPUT PAGE: RADIO BUTTONS */

#numOfRecs {
    display: flex;
    gap: 20px;
    text-align: center;
}

#numOfRecs span {
    display: flex;
    flex-direction: column;
}

#numOfRecs input[type="radio"] {
    transform: scale(2);
    margin-bottom: 15px;
}
